.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $white;
    box-shadow: 0px 4px 8px rgba(84, 104, 120, 0.1);
    z-index: $zindex-middle;
    &-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__actions {
        display: flex;
        column-gap: 8px;
        margin-left: 15px;
    }

}
.nav {
    &-item {
        @include border-radius($border-radius-circle);
        &:hover .news-menu,
        &:hover .product-menu {
            display: block;
        }
    }
}
.slider {
    position: relative;
    height: calc(100vh - 68px);
    background: url(../../assets/img/slider.png) top center / cover no-repeat;
    &__info {
        color: $white;
        position: absolute;
        top: 50%;
        transform: translateY(-80%);
        left: 83px;
    }
    &__heading {
        font-size: 5.4rem;
        max-width: 483px;
        margin-bottom: 24px;
        line-height: 65px;
        letter-spacing: 0.01em;
    }
    &__desc {
        font-weight: $font-weight-semibold;
        font-size: 1.8rem;
        line-height: 27px;
    }
    &__wrap {
        position: absolute;
        display: flex;
        left: 83px;
        top: 70%;
    }
    &__cta {
        display: flex;
        align-items: center;
        margin-right: 40px;
        column-gap: 25px;
    }
    &__discover {
        display: flex;
        align-items: center;
        padding: 5px 32px 5px 10px;
    }
    &__text {
        color: $white;
        margin-left: 10px;
        font-size: 1.8rem;
    }
    &__quantity-user {
        font-size: 3rem;
        line-height: 1.2;
    }
    &__total-user {
        margin-right: 40px;
    }
    &__center {
        align-items: baseline;
    }
}

.img-video {
    @include box-size(40px, 40px);
    display: flex;
    justify-content: center;
    align-items: center;
    @include border-radius(50%);
    background-color: rgba($white, 0.15);
}
.img-play {
    position: relative;
    left: 2px;
}
.text-banner {
    color: $white;
    line-height: 1.2;
}
.img-arrow {
    min-width: 44px;
    max-height: 22px;
}

@include media-breakpoint-down(xl) {
    .slider__wrap {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .slider__cta {
        margin-right: 0;
    }
    .slider__total {
        margin-top: 40px;
    }
    .header__actions {
        display: none;
    }
}
@include media-breakpoint-down(sm) {
    .slider__total {
        padding: 0 10px;
        text-align: center;
    }
    .slider__total-user {
        flex: 1;
        margin-right: 10px;
    }
    .slider__total-register {
        flex: 1;
        margin-left: 10px;
    }
    .slider__discover {
        display: none;
    }
    .slider__info {
        left: 0;
    }
    .slider__desc {
        display: none;
    }
    .slider__wrap {
        left: 0;
        top: 60%;
    }
    .slider__heading {
        font-size: 3.2rem;
        text-align: center;
        line-height: 4.2rem;
        margin: 2.4rem 0;
    }
    .slider__quantity-user {
        display: block;
        margin: 0 0 10px 0;
    }
    .slider__btn {
        margin-right: 0;
    }
    .img-arrow {
        display: none;
    }
}
