.solution {
    padding: 80px 0;
    &__heading {
        margin-bottom: 56px;
    }
    &-item {
        border-radius: 10px;
        & + & {
            margin: 40px 0;
        }
    }
    &__content {
        padding: 0 68px;
        border-radius: 0px 10px 10px 0px;
    }
    &__thumb {
        width: 340px;
        height: 246px;
        object-fit: cover;
    }
    &__img {
        padding: 16px;
        border-radius: 10px 0px 0px 10px;
    }
    &__title {
        line-height: 33px;
        margin-bottom: 16px;
        font-size: 2.2rem;
    }
    &__desc {
        color: $black;
        margin-bottom: 32px;
    }
    &__link {
        display: flex;
        align-items: center;
        color: $green;
        font-weight: 600;
        text-decoration: none;
    }
    &__arrow {
        margin-left: 10px;
    }
}
@include media-breakpoint-down(lg) {
    .solution {
        &-item {
            display: block;
        }
        &__img {
            display: flex;
            justify-content: center;
            border-radius: 16px 16px 0 0;
        }
        &__content {
            padding: 10px;
            min-width: 100%;
            max-height: 100%;
            border-radius: 0 0 16px 16px;
        }
    }
}
@include media-breakpoint-down(sm) {
    .solution {
        &-item {
            display: block !important;
        }
        &__img {
            display: flex;
            justify-content: center;
            border-radius: 16px 16px 0 0;
            overflow: hidden;
        }
        &__content {
            border-radius: 0 0 16px 16px;
        }
        
    }
}
